
.idea/.name

*.iml

.idea/encodings.xml

.idea/misc.xml

vendor/*

*.xml

config.codekit

config/database.php

*.scssc

*.ids

css/style.css

*.css

*.css

*.css

img/books_covers/logo/la_crucifixion_en_rose_small1819270171917444863.png

*.jpg

*.jpg

*.jpg

*.png

*.png

*.jpg

*.png

*.jpg

*.jpg
