include ../variables.jade

include ../essentials/head.jade
    title La joie de livre | Modifier
    link(rel='stylesheet' href='../../css/admin.css' type='text/css')



header
    h1
            a(href="./admin.php") Modifier un livre
    nav

        ul
            li
                a(href="./admin.php" title="Renvois vers la page d\'accueil") Retour à l'accueil


main
 form(name="edit")
  fieldset
   label(id="titre") Titre
   input(for="titre" name="titre" type="text"  title="Modifier le titre" value="Le titre")
   label(id="auteur") Auteur
   input(for="auteur" name="auteur" type="text"  title="Modifier le auteur" value="L'auteur")
   label(id="editeur") &Eacute;diteur
   input(for="editeur" name="editeur" type="text"  title="Modifier l'éditeur" value="L'editeur")
   label(id="genre") Genre
   input(for="genre" name="genre" type="text"  title="Modifier le genre" value="Le genre")
   label(id="annee") Annee
   input(for="annee" name="annee" type="text"  title="Modifier l'annee" value="Le annee")
  fieldset
   label(id="description") Description
   textarea(for="description" rows="4" cols="50" name="description" val="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maxime ipsa, vitae illo temporibus. A, tempore ratione incidunt illo officiis sed magnam! Eius voluptatibus provident dicta, eos. Rerum esse, accusamus!")
  fieldset
   input(type="submit" value="Midifier le livre")





   
