footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  .copy{
    text-align: center;
    font-size: 1.5em;/*21px*/
  }
  a{
    color:inherit;
  }
  padding: 2em 4.9122807018%;/*28px* 70px*/
  background: black;
  color:white;
  li{
    display:inline-block;
    a{
      padding:.7142857143em 1.4035087719%;/*10px 20px*/
    }
  }
}