.form-create {
  font-size: 21px; //21px
  margin: 0 percentage(30/300);
  padding: 0 percentage(30/300);
  label {
    display: block;
  }
  legend {
    color: $grisFonce;
  }
  fieldset {
    margin-bottom: 2.5em;
  }
  .btnVert {
    width: 100%;
    padding: 10px;
  }
  margin-bottom: 3em;
}
.form-create-user--happy{
  font-size: 26px;
  color: forestgreen;
}
.form-create__long-text{
  resize: vertical;
}
.form-create__simple-imput{
  display: block;
  width: 100%;
  font-size: 21px;
  padding: .2380952381em percentage(5/366);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $myGray;
}
.form-create__message--error{
  position: relative;
  margin: 1em 0;
  padding-left: percentage(30/300);
  background: $errorBCG;
  color: $error;
  font-size: .625em;
  border-radius: .3em;
}
.form-create__message--error+.form-create__message--error{
  margin-top: 1em;
}
.form-create__message--info+.form-create__message--info{
  margin-top: 1em;
}
.form-create__message--info{
  position: relative;
  margin: 1em 0;
  padding-left: percentage(30/300);
  background: $notificationBG;
  color: $notification;
  font-size: .625em;
  border-radius: .3em;
}
.form-create__example-box__text{
  color: $myGray;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  background: rgba(222, 222, 222, 0.47);
}