
.form_recherche{
   input[type="submit"]{
  width: 24.972803%;
  font-size: 20px;
  }
  input[type="search"]{
    font-size:20px;
  }
  select{
    right: 24.972803%;
    width:17.878243%;
    font-size: 20px;
  }

}
