header li {
  position: relative;
}

header li .header-main__form-connexion__userLog {
  margin-top: 0;
  opacity: 1;
}

.header-main__form-connexion__userLog {
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 30px;
  background-color: rgb(251, 251, 251);
  margin-top: -580px;
  opacity: 1;
  z-index: -1;
  label + .btnVert {
    display: inline-block !important;
  }
  input[type="text"], input[type="password"] {
    display: block;
    font-size: 16px;
    border: 1px solid $myGray;
    background: none;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  label {
    display: block;
  }
  .btnVert {
    font-size: 16px;
  }
}

.btnVert {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $myGray;
  background: none;
  font-size: 16px !important;
  color: $myGray;
  padding: 5px 10px;
  font-family: 'NexaLight' 'Helvetica Neue' 'Helvetica' Arial 'sans-serif';
  cursor: pointer;
  margin-top: 5px;

}

.btnVert:hover {
  background-color: $myGray;
  color: white;
}

.header-main__form-connexion__userLog {

  .smallInfo {
    padding: 5px;
    font-size: 13px;
    display: inline;
    cursor: pointer;
  }
  a.btnVert {
    margin-right: 5px !important;
  }
  .btnVert:hover {
    background-color: $myGray;
    color: white;
  }
  .btnVert {
    display: inline;
    font-size: 20px;
    color: $myGray;
  }
}