$vert:rgb(2, 102, 96);
form[name="edit"]{
	input,label{
		display:block;
		font-size: 20px;
		padding:.5em;
		width:100%;
		-webkit-border-radius: .25em;
		-moz-border-radius: .25em;
		-ms-border-radius: .25em;
		-o-border-radius: .25em;

	}
	textarea{
		width: 100%;
		padding: .5em;
		font-size: 20px;
		border-radius: .25em;
		-webkit-border-radius: .25em;
		-moz-border-radius: .25em;
		-ms-border-radius: .25em;
		-o-border-radius: .25em;
		border-radius: .25em;
	}
	margin-bottom:20em;
	input[type="submit"]{
		background-color: $vert;
		color:white;
		cursor: pointer;
	}
}