.header-main__form-connexion__userLog {
  margin-top: 0;
  position: absolute;
  left: -165px;
  width: 300px;
  top: -270px;
  .inline {
    position: relative;
    left: -2px;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
  }
}

.header-main__form-connexion:hover .header-main__form-connexion__userLog {
  top: 80px;
}
.header-main.scroll:hover .header-main__form-connexion__userLog{
  top:66px;
}