
.form_recherche {
  margin-top: 9.375em;
  input[type="submit"] {
    width: 24.972803%;
    font-size: 20px;
  }
  input[type="search"] {
    font-size: 20px;
  }
}
.home .form_recherche{
  width: percentage(1080/1440);
  margin: 0 auto;
  margin-top: 3em;
}
