.form-create-user {
  width: 560px;
  font-size: 21px; //21px
  padding: 3em;
  border: 1px dashed $grisFonce;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  label {
    display: inline-block;
    width: 45%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 50%;
    display: inline-block;
    font-size: 21px;
    padding: .2380952381em percentage(5/366);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $vert;
    margin-bottom: 1em;
  }
  legend {
    color: $grisFonce;
    font-style: italic;
    font-size: 0.8em;
  }
  fieldset {
    margin-bottom: 2.5em;
    position: relative;
  }
  .btnVert {
    width: 100%;
  }
  .smallInfo {
    position: absolute;
    bottom: -34px;
    width: 50%;
    left: 262px;
    cursor: pointer;
  }
  .ouvrir:before {
    content: "\e98f";
  }
  .fermer:before {
    content: "\e990";
  }
}
.form-create-user--error{
  position: absolute;
  right: -546px;
  top:10px;
  border: 1px solid red;
  padding:1em;
}