header li:hover .userLog {
  margin-top: 5px;
  opacity: 1;
  top:96px ;

}
.userLog {
  position: absolute;
  left: -180px;
  width: 300px;
  top: -270px;
  .inline{
    position: relative;
    left: -2px;
  }
  input[type="text"],input[type="password"]{
    width: 100%;
  }
}