header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  border-bottom: 5px solid $myGray;
  background-color: #ffffff;
  padding: 1em percentage(175/1430);
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

:root .header-main__nav__nav_items {
  border: none;
  background: none;
  display: inline-block;
  padding: .5em 15px;
  font-size: 22px;
  vertical-align: middle;
}

.header-main__box-logo {
  border: none;
  padding: 0;
  float: left;
  position: relative;
  top: 11px;
}

.header-main__nav {
  float: right;
}

.header-main.scroll {
  background: rgba(255, 255, 255, 0.9);
}

.header-main.scroll {
  padding: 0 12%;
}

.header-main__form-connexion {
  display: inline-block;
  position: relative;

}

.header-main__nav {
  display: inline-block;
  vertical-align: middle;
}

.show_form_connexion:hover .header-main__form-connexion__userLog {
  top: 132px;
}