.book-liste {
  li:hover, li:active {
    img {
      -webkit-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
    }

  }
  .book-liste__header {
    font-size: 1.5em;
  }
  li {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $grisFonce;
    h3 a {
      font-size: 26px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;

    }
    h3 a:hover {
      color: $myGray;
    }
  }
  img {
    -webkit-filter: grayscale(20%);
    -o-filter: grayscale(20%);
    filter: grayscale(20%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  p {
    margin-bottom: 30px;
  }

}

.book-liste__header {
  margin-bottom: 30px;

}

.info_Livre {
  dd a, dt {
    font-size: 20px;
    vertical-align: middle;
    display: block;
  }
  dt {
    background-color: $grisClair;
    color: $grisFonce;
  }
  dd a {
    background-color: $grisFonce;
    color: $grisClair;
  }
}