.liste_Questions{
 li{
  padding-bottom:30px;
  margin-bottom:30px;
  border-bottom:1px solid $grisFonce;
  blockquote{
    text-indent: 30px;
  }
  blockquote p:before{
    content:url(./img/blockquote.svg);
    display: inline-block;
    height: 50px;
    width: 50px;
    position:relative;
    left: -40px;
    top: 4px;

  }
 }
 h3{
  font-size: 24px;
 }

}