.liste_livres {
  img {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

.info_Livre {
  dt:after {
    content: "";
    display: block;
    clear: both;
  }
  dd a {
    color: $grisFonce;
    display: block;
    background: none;
  }
  dd a:hover {
    color: $vert;
  }
  dt:hover + dd a {
    color: $vert;
  }
  dt {
    float: left;
    background: none;
  }
  dt:hover + dd {
    background: $grisClair;
  }
  dd {
    display: block;
    padding-left: 160px;
    background: transparent;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
  dd:hover {
    background: $grisClair;

  }
  dt:after {
    content: ":";
    display: inline;
    padding-left: 5px;
  }
}