.main-nav {
  padding: 1em 0;
  padding-bottom: 2em;
}
.main-nav__item,.main-nav__item--small{
  display: block;
  padding:.5em percentage(20/300);
  color: $vert;
  font-size: 20px;
  letter-spacing: .01em;
  &:first-letter{
    text-transform: uppercase;
  }
  &:after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: $vert;
    margin-bottom: -15px;
    padding: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &:hover:after{
    width: 100%;
  }
}