.about-bloc {

}

.big-logo {
  font-weight: bold;
  color: $myGray;
  font-size: 3em;
}

.big-logo__me {
  font-weight: 100;
}

.big-slogant {
  font-weight: 100;
  color: $grisFonce;
  font-size: 1.6em;
  margin-bottom: 1em;
}