.about-bloc {

}

.big-logo {
  font-size: 7em;
  text-align: left;
}

.big-slogant {
  margin-top: -2em;
  margin-bottom: 3em;
}

.about-bloc__paragraphe {
  background: url("./img/about2.png") no-repeat 230px 0 #ffffff;
  background-size: contain;
  padding-right: 50%;
}