@-webkit-keyframes goRight {
  20% {
    opacity: .7;
    left: -20px;

  }
  100% {
    left: 2000px;

  }

}

@-moz-keyframes goRight {
  20% {
    opacity: .7;
    left: -20px;

  }
  100% {
    left: 2000px;

  }

}

@-ms-keyframes goRight {
  20% {
    opacity: .7;
    left: -20px;

  }
  100% {
    left: 2000px;

  }

}

@-o-keyframes goRight {
  20% {
    opacity: .7;
    left: -20px;

  }
  100% {
    left: 2000px;

  }

}

@keyframes goRight {
  20% {
    opacity: .7;
    left: -20px;

  }
  100% {
    left: 2000px;

  }

}




