.book-presentation {
  border: 1px solid $grisClair;
  width: percentage(240/300);
  margin: 0 auto 4em;
  padding: .9375em percentage(15/300) 4em;
  position: relative;
  &:hover {
    .book-presentation__inline-link {
      top: 2em;
      font-size: 2.5em;
    }
  }
}

.book-presentation__inline-link {
}

.book-presentation__header {
  display: block;
  font-size: 1.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
}

.book-presentation__btn-link {
  text-align: center;
  display: block;
  width: percentage(120/240);
  left: percentage(50.5/240);
  padding: 1em;
  background: $myGray;
  color: #ffffff;
  position: absolute;
  bottom: -1.89285714285714em;
  border-radius: .5em;
  font-weight: bold;
  border: 1px solid transparent;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  &:hover {
    border: 1px solid $myGray;
    color: $myGray;
    background: #ffffff;
  }
}

.book-presentation__date {
  display: block;
}

.book-presentation__text {
  margin-bottom: 1em;
}

.book-presentation__container {
  position: relative;
}

.book-presentation__picture__btn {
  position: absolute;
  top: -95px;
  left: percentage(101/250);
  z-index: 1;
  &:before {
    font-size: 30px;
    content: "\e600";
    color: transparent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    padding: .3em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid transparent;
    //z-index: 1;

  }
}
