.functions {
  margin-top: 3em;
}

.delete-book_btn {
  display: inline-block;
  margin-right: 1em;

}

.edit-book_btn {
  display: inline-block;
  margin-right: 1em;

}

.back-btn {

  display: inline-block;
  margin-right: 1em;

}