.site-pagination {
  text-align: center;
}

.site-pagination__number {
  display: inline-block;
}

.site-pagination__link, .site-pagination__link--current,.site-pagination__link--nohover {
  padding: .5em 1em;
  margin-right: .2em;
}