.welcome-bloc{
  padding: 2em percentage(30/300);
  margin-top: 4em;
  display: block;
}
.welcome-bloc__header{
  font-size: 2.9375em;
  font-weight: 100;
  font-family: "Avenir Lither", Helvetica, Arial, sans-serif;
}
.welcome-bloc__sub-heading{
  font-size: 1.5em;
}
.welcome-bloc__link{
  font-size: 1.5em;
}