- var accueil=true
include ../variables.jade
doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='description' content= 'Innovent dans sa manière de présenter l’information, les services que vous propose le nouveau site, la joie de livre, vous laissera sans mots. Vous pourrez aisément rechercher un livre depuis plusieurs bibliothèques. ')
        meta(name='keywords' content= 'la joie de livre,LA JOIE DE LIVRE,bibliothèques,Bibliothèques,Bibliothèque, livres,Livres, nationnal, belge, Belgique')
        meta(name='author' content= 'Daniel schreurs')
        meta(name='viewport' content='width=device-width')

        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='apple-touch-icon' sizes='57x57' href='./img/favicons/apple-touch-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='./img/favicons/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='./img/favicons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='./img/favicons/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='./img/favicons/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='./img/favicons/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='./img/favicons/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='./img/favicons/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='./img/favicons/apple-touch-icon-180x180.png')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-194x194.png' sizes='194x194')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-96x96.png' sizes='96x96')
        link(rel='icon' type='image/png' href='./img/favicons/android-chrome-192x192.png' sizes='192x192')
        link(rel='icon' type='image/png' href='./img/favicons/favicon-16x16.png' sizes='16x16')
        link(rel='manifest' href='./img/favicons/manifest.json')
        meta(name='msapplication-TileColor' content='\#da532c')
        meta(name='msapplication-TileImage' content='/mstile-144x144.png')
        link(rel='stylesheet' href='../../css/style.css' type='text/css')
        title La joie de livre | Nos Bibliothèques
    body
        include ../essentials/header.jade
        main
            form(class="form_recherche" name="global")
                input(type="search" list="tous" required placeholder="Un livre, un auteur" name="recherche" value="Liège" id="recherche")
                datalist(id="tous")
                    each val in nosLieux
                        option(value=val)=val

                input(type="submit" value="Rechercher !" )

            nav(class="main-nav")
                ul
                    each val in listeMenu
                        li
                            a(href="#" title="affiche tous les " + val)="tous les " + val

            h2 Toutes les bibliothèques de Liège

            ul(class="liste_Bibliotheques")
                each val in nosBibliothequesLiege
                    li
                        h3
                            a(href="#" title="Affiche tous les livres de cette bibliothèque")= val


                        dl(class="info_Bibli")
                            dt Téléphone&nbsp;:
                            dd 087/88.87.47
                            dt fax&nbsp;:
                            dd 089/78.57.47
                            dt Adresse&nbsp;:
                            dd Rue d'Amercoeur 24
                            dt Lieu&nbsp;:
                            dd 4020 LIEGE
                            dt Responsable&nbsp;:
                            dd Monsieur Dulivre

                        table(class="heures_ouvertures")
                            caption Les heures d’ouverture
                            tr
                                th lundi
                                td 8H à 12h
                            tr
                                th mardi
                                td 9h à 17h
                            tr
                                th mercredi
                                td 9h à 15h
                            tr
                                th jeudi
                                td 9h à 17h
                            tr
                                th vendredi
                                td 9h à 17h
                            tr
                                th Samedi
                                td 9h à 12h
                            tr
                                th dimanche
                                th fermé

        include ../essentials/footer.jade