include ../variables.jade

include ../essentials/head.jade
    title La joie de livre | Auteurs

include ../essentials/header.jade

main
    form(class="recherche" name="auteurs")
        input(type="search" required placeholder="Un auteurs, une édition" name="recherche"  id="recherche")
        input(type="submit" value="Rechercher" )
    ul
        li
            a tous les genres


    include ../essentials/alphabet.jade

    h2 Roman 
    ul(class="livres")
        each val in titres
            li
                h3= val
                img(src='../../img/andreBreton/andre_breton_anthologie_de_lhumour_noir.jpg' alt="première du livre" + val width="180" height="270" )

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus neque, semper m mattis tristique, tempor non turpis. Ut enim diam, venenatis non ipsum at, placerat dictum nisi. Vestibulum finibus, nulla nec molestie aliquam, libero augue mattis elit, sed cursus nisl purus ac mauris. Phasellus eget lectus augue. Donec vel risus orci. Phasellus ut ultrices ligula. Curabitur sodales dolor vel lacus sollicitudin, sit amet tempor nulla volutpattristique, tempor non turpis. Ut enim diam, venenatis non ipsum at, placerat dictum nisi. Vestibulum finibus, nulla nec molestie aliquam, libero augue mattis elit, sed cursus nisl purus ac mauris. Phasellus eget lectus augue. Donec vel risus orci. Phasellus ut ultrices ligula. Curabitur sodales dolor vel lacus sollicitudin, sit amet tempor nulla volutpat




include ../essentials/footer.jade